@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

li,
a {
  font-family: "Poppins";
  text-decoration: none;
  font-size: 28px;
  color: white;
}

/*--------------------HAUT DE PAGE ICI------------------*/
header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: #0764a3;
    padding-left: 6px;
    width: auto;
  }
  
  .textelogo {
    flex: 2;
    margin-right: auto;
    font-family: "Poppins";
    font-size: 28px;
    text-decoration: none;
    color: white;
    padding-left: 6px;
  }
  
  .logotop {
    margin-right: auto;
  }
  
  .navlien {
    list-style: none;
    
    padding-left: 0px;
    margin-left: 20px;
  }
  
  .navlien li {
    display: inline-block;
    padding: 0px 12px;
  }
  
  .navlien li a {
    font-size: 20px;
  }
  
  .navlien li a:hover {
    color: rgb(19, 24, 92);
  }
/* -------------------fin haut de page-----------------*/

/*--------------------Main Contents--------------------*/

body {
  font-family: "Poppins";
}

.titleZoneGraphes {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top:30px;
  font-size: 25px;
}

.titleZone h1 {
  font-size: 80px;
  color: black;
  width:85%;
}

.dateHeure {
  font-size: 20px;
}

.dateHeure p {
  margin-top: 10px;
  margin-bottom: 25px;
}

.boutonsSessions {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: center;
}

.boutonSessionStart {
  border-radius: 18px;
  background: #CEFCB9;
  border: 1px solid #000000;
  box-shadow: 4px 4px 8px #a1a1a1, -8px -8px 12px #ffffff;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  font-size: 20px;
  margin-left: 30px;
}

.boutonSessionStart:active {
  background: #ADFF87;
  box-shadow: 2px 2px 2px #a1a1a1, -6px -6px 6px #ffffff;
}

.boutonSessionStop {
  border-radius: 18px;
  background: #FFA7A7;
  border: 1px solid #000000;
  box-shadow: 4px 4px 8px #a1a1a1, -8px -8px 12px #ffffff;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.boutonSessionStop:active {
  background: #FF7373;
  box-shadow: 2px 2px 2px #a1a1a1, -6px -6px 6px #ffffff;
}

.boutonSessionExporter {
  border-radius: 18px;
  background: #D9D9D9;
  border: 1px solid #000000;
  box-shadow: 4px 4px 8px #a1a1a1, -8px -8px 12px #ffffff;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  font-size: 20px;
  margin-right: 30px;
}

.boutonSessionExporter:active {
  background: #A3A3A3;
  box-shadow: 2px 2px 2px #a1a1a1, -6px -6px 6px #ffffff;
}

.maincontentGraphes {
  display: flex;
  flex-direction: column;
  margin-top:30px;
  justify-content: space-between;
  align-items: center;
}

.GraphesLigneHaut{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  width: 30%;
  padding:20px;
  align-items: center;
  justify-content: space-around;
}

.GraphesLigneBas{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  width: 30%;
  padding:20px;
  align-items: center;
  justify-content: space-around;
}

.containersGraphes {
  background-color: #b5b4b4;
  border-radius: 16px;
  padding: 25px;
  padding-top: 20px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  transition-duration: 0.25s;
  font-size: 23px;
  text-align: center;
}

.containersGraphes:hover {
  transform:scale(1.25);
  transition-duration: 0.15s;
  background-color: #d4d3d3;
}

.GraphetValeurText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.valeurGraphe {
  margin-top: 40px;
}

/*------------------fin Main Contents--------------------*/

/*--------------------BAS DE PAGE ICI------------------*/
footer {
    display: flex;
    align-items: center;
            /* position: fixed; LIGNE A RETIREr POUR LES GROSSES PAGES*/
    background: linear-gradient(
      90.58deg,
      rgba(53, 53, 53) 30.81%,
      rgba(7, 100, 163) 74.18%
    );
    width: auto;
    float:bottom;
  }
  
  .logobottom {
    
    margin: 20px 7px;
  }
  
  .infoFooterContainer {
    display: flex;
    align-items: center;
  }
  
  .infoFooter {
    list-style: none;
    padding-left: 0px;
    margin-left: 7px;
  }
  
  .infoFooter li {
    font-size: 16px;
  }
  
  .line {   /*Sert a dessiner la ligne noire pour séparer*/
    width: 1px;
    height: 80px;
    border-left: 4px solid black;
    margin-left: 23px;
  }
  
  /*------------newsletter-----------*/
  
  .newsletterContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 175px;
    margin-right: 20px;
  }
  
  .newsletterContainer p {
    font-family: "Poppins";
    font-size: 16px;
    color: white;
    line-height: 0px;
  }
  
  .newsletterContainer input[type="text"] {
    height: 25px;
    width: 250px;
    font-size: 16px;
    border-radius: 15px;
    margin-right: 12px;
    padding-left: 8px;
  }
  
  .newsletterContainer input[type="submit"] {
    height: fit-content;
    width: 90px;
    font-size: 16px;
    background-color: #44c767;
    border-radius: 15px;
    border: none;
    padding: 5px 5px;
    text-shadow: 0px 1px 0px #2f6627;
  }
  
  .newsletterContainer input[type="submit"]:hover {
    background-color: #5cbf2a;
  }
  