@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

li,
a {
  font-family: "Poppins";
  text-decoration: none;
  font-size: 28px;
  color: white;
}

/*--------------------Main Contents--------------------*/

body {
  font-family: "Poppins";
}

.titleZoneGraphes {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top:10px;
  font-size: 25px;
}

.titleZone h1 {
  font-size: 80px;
  color: black;
  width:85%;
}


.maincontentGraphes {
  display: flex;
  flex-direction: column;
  margin-top:30px;
  align-items: center;
}

.containersGraph {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 25px;
  padding-top: 20px;
  margin-top: 70px;
  margin-left: 375px;
  margin-right: 375px;
  font-size: 23px;
  text-align: center;
}

.containersGraphHorsLimite {
  background-color: #f12424;
  border-radius: 16px;
  padding: 25px;
  padding-top: 10px;
  margin-top: 130px;
  margin-left: 375px;
  margin-right: 375px;
  font-size: 23px;
  text-align: center;
}

.GraphetValeurText {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.valeurGraphe {
  margin-top: 40px;
  margin-left: 30px;
  padding-top: 10px;
}

.ligne {
  margin-left: 40px;
}

/*------------------fin Main Contents--------------------*/
