@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body{
  font-family: "Poppins";
  margin:0;
}

li,
a {
  font-family: "Poppins";
  text-decoration: none;
  color: white;
}


/*--------------------HAUT DE PAGE ICI------------------*/
header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #0764a3;
  padding-left: 6px;
  width: 99.6%;
  z-index:3;
}
.sideheader {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.textelogo {
  font-family: "Poppins";
  font-size: 28px;
  text-decoration: none;
  color: white;
  padding-left: 6px;
}
.logotop {
  display:flex;
}

.userSearchBar {
  display:flex;
  flex-direction: row ;
  background-color: white;
  border-radius: 15px;
  padding : 6px 10px ;
  width : 40%;
}

#searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#userSearchBar {
  width : 80%;
  font-size:large;
  border: none;
  color:#0764a3
}

#searchUser {
  width:fit-content;
  width : fit-content;
  border: none;
  padding : 6px 20px;
  border-radius: 5px 10px 5px 10px;
  background-color: #79b1d7;
  font-size: large;
}

#searchUser:hover {
  background-color: #6291af;
}

.navlien {
  list-style: none;
  justify-self: flex-end;
  padding-left: 0px;
  margin-left: 20px;
}

.navlien li {
  display: inline-block;
  padding: 0px 12px;
}

.navlien li a {
  font-size: 20px;
}

.navlien li a:hover {
  color: rgb(19, 24, 92);
}

.options {
  display:none;
  position: absolute;
  right:0;
  top: 78.4px;
  width: fit-content;
  padding:0px 10px;
  background-color: #79b1d7;
  z-index: 4;
  transition: all 0.5s ease-in;
  box-shadow: -4px 4px 2px gray;
}

.options.show{
  display:block;
}
.options li a {
  font-size: 24px;
}

.options ul li a:hover{
  color:#0764a3
}

.options ul{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  margin : 5px 10px
}


.graphe {
  display: flex;
  flex-direction: column;
  background-color: #b5b4b4;
  border-radius: 16px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  transition-duration: 0.25s;
  font-size: 23px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.graphe:hover {
  transform:scale(1.1);
  transition-duration: 0.15s;
  background-color: #d4d3d3;
}


.boutonsSessions {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: center;
}

.boutonSessionStart {
  border-radius: 18px;
  background: #CEFCB9;
  border: 1px solid #000000;
  box-shadow: 4px 4px 8px #a1a1a1, -8px -8px 12px #ffffff;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  font-size: 20px;
  margin-left: 30px;
}

.boutonSessionStart:active {
  background: #ADFF87;
  box-shadow: 2px 2px 2px #a1a1a1, -6px -6px 6px #ffffff;
}

.boutonSessionStop {
  border-radius: 18px;
  background: #FFA7A7;
  border: 1px solid #000000;
  box-shadow: 4px 4px 8px #a1a1a1, -8px -8px 12px #ffffff;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.boutonSessionStop:active {
  background: #FF7373;
  box-shadow: 2px 2px 2px #a1a1a1, -6px -6px 6px #ffffff;
}

.boutonSessionExporter {
  border-radius: 18px;
  background: #D9D9D9;
  border: 1px solid #000000;
  box-shadow: 4px 4px 8px #a1a1a1, -8px -8px 12px #ffffff;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  font-size: 20px;
  margin-right: 30px;
}

.boutonSessionExporter:active {
  background: #A3A3A3;
  box-shadow: 2px 2px 2px #a1a1a1, -6px -6px 6px #ffffff;
}

/*--------------------BAS DE PAGE ICI------------------*/
footer {
  display: flex;
  align-items: center;
          /* position: fixed; LIGNE A RETIREr POUR LES GROSSES PAGES*/
  background: linear-gradient(
    90.58deg,
    rgba(53, 53, 53) 30.81%,
    rgba(7, 100, 163) 74.18%
  );
  width: auto;
  float:bottom;
}

.logobottom {
  
  margin: 20px 7px;
}

.infoFooterContainer {
  display: flex;
  align-items: center;
}

.infoFooter {
  list-style: none;
  padding-left: 0px;
  margin-left: 7px;
}

.infoFooter li {
  font-size: 16px;
}

.line {   /*Sert a dessiner la ligne noire pour séparer*/
  width: 1px;
  height: 80px;
  border-left: 4px solid black;
  margin-left: 23px;
}


/*------------newsletter-----------*/

.newsletterContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 175px;
  margin-right: 20px;
}

.newsletterContainer p {
  font-family: "Poppins";
  font-size: 16px;
  color: white;
  line-height: 0px;
}

.newsletterContainer input[type="text"] {
  height: 25px;
  width: 250px;
  font-size: 16px;
  border-radius: 15px;
  margin-right: 12px;
  padding-left: 8px;
}

.newsletterContainer input[type="submit"] {
  height: fit-content;
  width: 90px;
  font-size: 16px;
  background-color: #44c767;
  border-radius: 15px;
  border: none;
  padding: 5px 5px;
  text-shadow: 0px 1px 0px #2f6627;
}

.newsletterContainer input[type="submit"]:hover {
  background-color: #5cbf2a;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
.titre{
    text-align: center;
    margin:auto;
    width: 440px;
}

.liste{
    width: 1000px;
    margin:auto
}

.questions{
    margin:20px;
    padding: 10px;
}

.questions p{
    margin-left:10px;
    margin: 5px;
}

.titre-question{
    border:2px solid rgb(101, 101, 101);
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
}

.reponse{
    border:1px solid rgb(101, 101, 101);
    margin-left:30px;
    background-color: rgb(219, 219, 219);
    margin-right:10px
}

.espace-client{
    border:1px solid rgb(101, 101, 101);
    margin-left:30px;
    margin-right:10px
}

.trombone{
    border:1px solid rgb(219, 219, 219);
    background-color: rgb(219, 219, 219);
    width: 215px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}


.pagination{
    border:3px solid rgb(38, 0, 255);
    background-color: rgb(0, 94, 255);
    text-align: center;
    margin:auto;
    width: 40px;
}


/* Container for flexboxes */

.boxesWrapper{
  margin:auto;
  margin-top: 45px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.box{
    padding: 15px;
    border-radius: 15px;
    border-style:groove;
    background-color: rgb(102, 102, 102);
    width:185px;
    height:185px;
    margin: 50px;
    text-align: center;
    color:white;
}

.box a{
    text-align: center;
    color:white;
    text-decoration: none;
}

.controle{
  width:fit-content;
  border-radius: 15px;
  margin: 50px;
  text-align: center;
  font-family: 'Poppins';
  font-size:28px
}

.controle:hover {
  cursor:pointer
}

.indic{
    text-align:center;
}
