@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.titre{
    text-align: center;
    margin:auto;
    width: 440px;

    font-family: "Poppins";
    font-size: 20px;
    text-decoration: none;
}
.div1{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.div2{
    margin-left:auto;
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
}
.button{
    width:200px;
    border-radius:15px;
    margin:50px;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    text-decoration: none;
}
.buttonsup{
    width:350px;
    height :50px;
    border-radius:15px;
    margin:50px;
    text-align: center;

    font-family: "Poppins";
    font-size: 20px;
    text-decoration: none;
}

.button:hover {
  cursor:pointer
}

.buttonsup:hover {
    cursor:pointer
  }

.text{
    text-align:left;    
    position: absolute;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}