@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

li,
a {
  font-family: "Poppins";
  text-decoration: none;
  color: white;
}


/*--------------------HAUT DE PAGE ICI------------------*/
header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #0764a3;
  padding-left: 6px;
  width: 99.6%;
  z-index:3;
}
.sideheader {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.textelogo {
  font-family: "Poppins";
  font-size: 28px;
  text-decoration: none;
  color: white;
  padding-left: 6px;
}

.logotop {
  display:flex;
}

.userSearchBar {
  display:flex;
  flex-direction: row ;
  background-color: white;
  border-radius: 15px;
  padding : 6px 10px ;
  width : 40%;
}

#searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#userSearchBar {
  width : 80%;
  font-size:large;
  border: none;
  color: #0764a3;
}

#searchUser {
  width:fit-content;
  width : fit-content;
  border: none;
  padding : 6px 20px;
  border-radius: 5px 10px 5px 10px;
  background-color: #79b1d7;
  font-size: large;
}

#searchUser:hover {
  background-color: #6291af;
}

.navlien {
  list-style: none;
  justify-self: flex-end;
  padding-left: 0px;
  margin-left: 20px;
}

.navlien li {
  display: inline-block;
  padding: 0px 12px;
}

.navlien li a {
  font-size: 20px;
}

.navlien li a:hover {
  color: rgb(19, 24, 92);
}

.options {
  display:none;
  position: absolute;
  right:0;
  top: 78.4px;
  width: fit-content;
  padding:0px 10px;
  background-color: #79b1d7;
  z-index: 4;
  transition: all 0.5s ease-in;
  box-shadow: -4px 4px 2px gray;
}

.options.show{
  display:block;
}
.options li a {
  font-size: 24px;
}

.options ul li a:hover{
  color:#0764a3
}

.options ul{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  margin : 5px 10px
}

/*--------------------MILIEU DE PAGE ICI------------------*/

.containerset {

  display: flex;
  flex: row;


}

.containerset1 {

  display: flex;
  flex: row;
  justify-content: left;
  width: 20%;
  border: black solid 3px;
  margin-left: 50px;

}

.containerset2 {

  display: flex;
  flex: row;
  justify-content: start;
  margin-right: 50px;
  padding-bottom: 1px;
  width: 75%;
  border: black solid 3px;
  border-left: none;

}


.contenuPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.Zonesdetextedroite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 18px;
  font-family: "Poppins";
  line-height: 0px;
  padding : 15px;
  width: 100%;
}

.Zonesdetextegauche {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 18px;
  font-family: "Poppins";

  padding : 15px;
  width: 100%;
}


.partiedroite {
  display: flex;
  flex-direction: column;
  padding:10px;
  width: 100%;
  height:100%;

}

.infolabotxt {
  height: fit-content;
  margin-bottom: 220px;
}

.infousertxt {
  margin-bottom: 350px;
}

.Zonesdetextedroite input[type="text"],input[type="email"],select {
  
  padding: 10px;
  
  margin-bottom: 15px;
  border: 1px solid #0764a3;
  font-size: 15px;
  border-radius: 15px;
  background-color: rgb(187, 187, 187);
}

.Zonesdetextedroite input[type=submit] {
  width: fit-content;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  background-color: #0764a3;
  padding: 12px;
}


.Zonesdetextedroite input[type=submit]:hover {
  background-color: #017ed1;
}

/*--------------------BAS DE PAGE ICI------------------*/
footer {
  display: flex;
  align-items: center;
          /* position: fixed; LIGNE A RETIREr POUR LES GROSSES PAGES*/
  background: linear-gradient(
    90.58deg,
    rgba(53, 53, 53) 30.81%,
    rgba(7, 100, 163) 74.18%
  );
  width: auto;
  float:bottom;
}

.logobottom {
  
  margin: 20px 7px;
}

.infoFooterContainer {
  display: flex;
  align-items: center;
}

.infoFooter {
  list-style: none;
  padding-left: 0px;
  margin-left: 7px;
}

.infoFooter li {
  font-size: 16px;
}

.line {   /*Sert a dessiner la ligne noire pour séparer*/
  width: 1px;
  height: 80px;
  border-left: 4px solid black;
  margin-left: 23px;
}

/*------------newsletter-----------*/

.newsletterContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 175px;
  margin-right: 20px;
}

.newsletterContainer p {
  font-family: "Poppins";
  font-size: 16px;
  color: white;
  line-height: 0px;
}

.newsletterContainer input[type="text"] {
  height: 25px;
  width: 250px;
  font-size: 16px;
  border-radius: 15px;
  margin-right: 12px;
  padding-left: 8px;
}

.newsletterContainer input[type="submit"] {
  height: fit-content;
  width: 90px;
  font-size: 16px;
  background-color: #44c767;
  border-radius: 15px;
  border: none;
  padding: 5px 5px;
  text-shadow: 0px 1px 0px #2f6627;
}

.newsletterContainer input[type="submit"]:hover {
  background-color: #5cbf2a;
}
