@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  background-color: #0764a3;
  padding-left: 6px;
  width: auto;
  z-index: 5;
}

body {
  background-color: #ffffff;
}

.textelogo {
  flex: 2;
  margin-right: auto;
  font-family: "Poppins";
  font-size: 28px;
  text-decoration: none;
  color: white;
  padding-left: 6px;
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 130px;
}

.nature {
  margin-bottom: 130px;
}

.div2 {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  padding: 20px;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 55%;
  background: #ffffff;
  border: grey 1px solid;
  border-radius: 20px;
}

.nature {
  box-sizing: border-box;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #d9d9d9;
  border: black 1px solid;
  border-radius: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.017em;
  padding-left: 20px;
}

.quelbox {
  box-sizing: border-box;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;

  background: #d9d9d9;
  border-radius: 20px;
  border: 1px black solid;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.017em;
  padding-left: 20px;
}

.quelproblem {
  box-sizing: border-box;

  position: relative;
  display: none;
  justify-content: center;
  align-items: center;

  background: #d9d9d9;
  border-radius: 20px;
  border: 1px black solid;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.017em;
  padding-left: 20px;
}

.text {
  text-align: center;
}

.commentaires {
  background: #d9d9d9;
  border: 1px grey solid;
  color: rgba(0, 0, 0, 0.5);
  resize: none;
}

.envoyer {
  box-sizing: border-box;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  background: #0764a3;
  border: none;
  border-radius: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.017em;

  color: #ffffff;
}
