@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    background-color  : #9A9A9A;
}

.titre {
    position: absolute;
    width: 463px;
    height: 35px;
    left: 423px;
    top: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.017em;

    color: #000000;
}
.nom {
    box-sizing: border-box;

    position: absolute;
    width: 363px;
    height: 52px;
    left: 241px;
    top: 94px;

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.017em;
    padding-left : 20px;
    
    color: rgba(0, 0, 0, 0.5);
    
    }


.prenom {
    box-sizing: border-box;

    position: absolute;
    width: 363px;
    height: 52px;
    left: 630px;
    top: 94px;
    
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.017em;
    padding-left : 20px;
    
    color: rgba(0, 0, 0, 0.5);
    }

.nomlab {
    box-sizing: border-box;

    position: absolute;
    width: 752px;
    height: 51px;
    left: 241px;
    top: 171px;
    
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.017em;
    padding-left : 20px;
    
    color: rgba(0, 0, 0, 0.5);
    }

.email {
    box-sizing: border-box;

    position: absolute;
    width: 752px;
    height: 52px;
    left: 241px;
    top: 246px;
    
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.017em;
    padding-left : 20px;
    
    color: rgba(0, 0, 0, 0.5);
    }

.numtel {
    box-sizing: border-box;

    position: absolute;
    width: 752px;
    height: 52px;
    left: 241px;
    top: 322px;

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.017em;
    padding-left : 20px;
    
    color: rgba(0, 0, 0, 0.5);
    }

.adresse {
    box-sizing: border-box;

    position: absolute;
    width: 752px;
    height: 52px;
    left: 241px;
    top: 398px;

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.017em;
    padding-left : 20px;
    
    color: rgba(0, 0, 0, 0.5);
    }

.statut {
    box-sizing: border-box;

    position: absolute;
    width: 752px;
    height: 50px;
    left: 241px;
    top: 471px;

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.017em;
    padding-left : 20px;
    
    color: rgba(0, 0, 0, 0.5);
    }

.addUserDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}



.confirmer {
    box-sizing: border-box;

    position: absolute;
    width: 317px;
    height: 51px;
    left: 458px;
    top: 550px;

    background: #0764A3;
    border: 1px solid #000000;
    border-radius: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.017em;
}